# Common sample resources needed by many of the samples.
# Rarely used resources should be separately loaded by the
# samples which require them.
[Popular]
FileSystem=Media/materials/scripts
FileSystem=Media/materials/textures
FileSystem=Media/models
FileSystem=Media/RTShaderLib
FileSystem=Media/RTShaderLib/materials

Zip=Media/packs/cubemap.zip
Zip=Media/packs/cubemapsJS.zip
Zip=Media/packs/skybox.zip

[General]
FileSystem=Media